@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80mm;
}

.title {
    align-self: center;
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    margin: 0;
    margin-top: 24px;
}

.sub-title {
    align-items: center;
    font-family: 'Great Vibes', cursive;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding-bottom: 24px;
}

.text {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

.div {
    font-size: 20px;
    padding: 20px;
}